# Arquivos Ignorados
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode


# Diretórios Ignorados
/node_modules
/public/hot
/public/storage
/storage/*.key

# Subdiretorios permitidos

/vendor/*
# !/vendor/jeroennoten/laravel-adminlte/resources/views